.timeline {
    max-height: 100%;
    overflow-y: scroll;
}

.btn-link a {
    color: white;
}

.dropdown-menu > li .active-page {
    background: rgb(245,245,245);
}

.dropdown:hover {
    cursor: pointer;
}
