
.committee-makeup .republican {
    background-color: red;
}

.committee-makeup .independent {
    background-color: grey;
}

.committee-makeup .democrat {
    background-color: blue;
}


.bill-summary-card .panel-body {
    height: 150px;
    overflow: scroll;
}