body {
    background-color: lightgrey;
}

.top-section {
    background-color: white;
    margin-bottom: 24px;
    padding: 24px;
}

.panel hr {
    margin: 15px 0px 15px 0px;
}

.panel {
    border: none;
}