body {
    background-color: lightgrey;
    padding-top: 50px;
}

.top-section {
    background-color: white;
    padding: 24px;
    margin-bottom: 24px
}

.panel hr {
    margin: 15px 0px 15px 0px;
}

.panel {
    border: none;
}

div.navbar-collapse:not(.collapsing):not(.in) form.navbar-form .form-group input {
    width: 500px;
}

.nav.navbar-nav.navbar-right ul {
    background-color: #428bca;
}

.nav.navbar-nav.navbar-right li.open a {
    background-color: #428bca !important;
}

.nav.navbar-nav.navbar-right li.open a span {
    color: white;
}

.nav.navbar-nav.navbar-right li ul.dropdown-menu li a {
    color: white;
}

.navbar-default {
    background-color: #428bca;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-brand {
    color: white;

}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}

.navbar-default .navbar-toggle:focus {
    background-color: #428bca;
    color: #428bca;
}

.person-card .photo img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.person-card .name {
    font-size: 20px;
}

.person-card a:hover {
    text-decoration:none;
    color: black;
}

.person-card a {
    color: black;
}

.person-card:hover {
    background-color: #f4f4f4;
}

.person-card .summary {
    font-size: 14px;
}


/* Page section tabs */

.tab {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    padding-bottom: 8px;
    font-size: 18px;
}

.tab a {
    color: black;
}
.tab a:hover {
    text-decoration: none;
    color: black;
}

.tabs {
    margin: 18px;
    display: block;
}

.tab.active {
    border-bottom: 2px solid darkgrey;
}

.tab.name {
    font-size: 20px;
}

.card-section-header {
    font-size: 24px;
    margin: 0px 12px 0px 12px;
}

.card-section-header hr {
    border-color: black;
    margin-top: 4px;
}

.page-header-section {
    background-color: white;
    margin-bottom: 24px;
}

.subscribe {
    color: grey;
    font-size: 24px;
    display: inline-block;
}

.subscribe.subscribed {
    color: #CFB723;
}

.aa-dropdown-menu {
    border: solid 1px darkgrey;
    border-radius: 5px;
    background-color: lightgrey;
}

.search-result > div {
    color: black;
    padding: 6px 12px 6px 12px;
}

.search-result:hover > div {
    background-color: darkgrey;
    text-decoration: none;
}

.search-result,
.search-result:hover {
    text-decoration: none;
    font-size: 18px;
}

.search-result .highlight {
    font-weight: bold;
}