body {
    background-color: lightgrey;
    padding-top: 70px;
}

.top-section {
    background-color: white;
    margin-bottom: 24px;
    padding: 24px;
}

.panel hr {
    margin: 15px 0px 15px 0px;
}

.panel {
    border: none;
}

.navbar-default {
    background-color: #428bca;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-brand {
    color: white;

}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}
