  <div class="panel person-card">
    <a href="{% url "politician" person.pid %}">
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <div class="photo">
            <img class="media-object" src="https://theunitedstates.io/images/congress/original/{{ person.pid }}.jpg">
          </div>
        </div>
        <div class="media-body media-middle text-center">
          <div class="name">{{ person.name }} ({{ person.party }})</div>
          <div class="summary">
            {{ person.title }}
          </div>
        </div>
      </div>
    </div>
    </a>
  </div>
