{% comment "Summary" %}
This card is used to show a summary of how a certain politician votes
{% endcomment %}

<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default summary">
    <div class="panel-body">
      <div class="panel-header">
        <div>
          Overview
        </div>
        <hr />
        <div>
           <div class="row">
             <div class="col-xs-6 text-center">
               <div>Votes with party</div>
               <div class="metric">
                89%
               </div>
             </div>
             <div class="col-xs-6 text-center">
               <div>Missed votes</div>
               <div class="metric">
                 21%
               </div>
             </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
