  <div class="panel person-card">
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <div class="photo">
            <img class="media-object" src="https://goo.gl/fNRsU8">
          </div>
        </div>
        <div class="media-body media-middle text-center">
          <div class="name">{{ person.name }} ({{ person.party_abr }})</div>
          <div class="summary">
            {{ person.summary }}
          </div>
        </div>
      </div>
    </div>
  </div>
