<a class="subscribe-tooltip" 
  href=# data-toggle="tooltip" 
  title="{% if is_subscribed %} Unsubscribe {% else %} Subscribe {% endif %}" 
  data-placement="right">
  <div class="subscribe {% if is_subscribed %} subscribed {% endif %}">
    <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
  </div>
</a>
<script>
  var subButton = $('.subscribe');
  var tooltip = $('.subscribe-tooltip');

  subButton.click(function() {
    if (!subButton.hasClass('subscribed')) {
      // User is not subscribed
      $.post("/subscribe/", {
        csrfmiddlewaretoken: "{{ csrf_token }}",
        type: "{{ type }}",
        id: "{{ id }}",
      }, function() {
        subButton.addClass("subscribed");
        tooltip.tooltip('hide');
        tooltip.attr('title', 'Unsubscribe')
          .tooltip('fixTitle')
      });
    } else {
      $.post("/unsubscribe/", {
        csrfmiddlewaretoken: "{{ csrf_token }}",
        type: "{{ type }}",
        id: "{{ id }}",
      }, function() {
        subButton.removeClass("subscribed");
        tooltip.tooltip('hide');
        tooltip.attr('title', 'Subscribe')
          .tooltip('fixTitle')
      });
      
    }
  });
  
  tooltip.tooltip({
     'delay': { show: 0, hide: 0 },
     'trigger': 'hover',
   });
  
</script>