<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}Politifind{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% load static %}
    <link rel='stylesheet' type="text/css" href="{% static 'css/main-styles.css' %}"></link>
    {% block custom_css %}{% endblock %}
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">Politifind</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
          <form class="navbar-form navbar-left" action="{% url 'search' %}">
            <div class="form-group">
              <input class="form-control" placeholder="Search bills, politicians, committees, etc..." type="search", name="q">
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'politicians' %}">Politicians</a></li>
            <li><a href="{% url 'bills' %}">Bills</a></li>
            <li><a href="{% url 'committees' %}">Committees</a></li>
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span></a>
              <ul class="dropdown-menu">
                {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Edit Profile: {{user.get_username}}</a></li>
                <li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>


      {% block page_content %}{% endblock %}
  </body>
</html>
