{% extends "base_template.html" %}

{% block page_title %} {{ bill.code }}: {{ bill.name }} {% endblock %}
{% block custom_css %}
{% load static %}
<link rel='stylesheet' type="text/css" href="{% static 'css/bill-styles.css' %}"></link>
{% endblock %}

{% block page_content %}
  <div class="top-section">
    <div class="container">
      <div class="row">
        <div style="text-align:center;">
          <div class="row">
            <h1>
              {{ bill.code }}
              {% if request.user.is_authenticated %}
                {% include "components/subscribe-button.html" with subscribed=is_subscribed id=bill.bid type="bill" %}
              {% endif %}
            </h1>
            <h2>{{ bill.name }}</h2>
          </div>
          <div class="row">
            <p class="lead">{{ bill.subject }}</p>
          </div>
          {% if bill_committees %}
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <p class="lead">
                  Committee(s):
                  {% for committee in bill_committees %}
                    <a href="{% url 'committee' committee.committee.cid %}">
                      {{ committee.committee }}
                    </a>
                    {% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </p>
              </div>
            </div>
          {% endif %}
          {% if request.user.is_authenticated %}
            <div class="row">
              <p class="lead">Vote:</p>
            </div>
            <div class="row">
              <div class="col-sm-offset-4 col-sm-4">
                {% if already_voted %}
                <p class="lead">You voted {{ user_vote }}!</p>
                {% else %}
                <div class="btn-group btn-group-justified" role="group">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default yea-btn" {% if user.is_authenticated %} data-toggle="modal" data-target="#yayModal" {% endif %}>Yay</button>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default nay-btn" {% if user.is_authenticated %} data-toggle="modal" data-target="#nayModal" {% endif %}>Nay</button>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          {% endif %}
          <div class="row" style="margin-top:20px;">
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            Sponsor:
            {% include "components/politician-summary-card.html" with person=bill.sponsor %}
        </div>
      </div>
      {% if bill.summary %}
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            {% include "components/bill_summary_card.html" with summary=bill.summary %}
          </div>
        </div>
      {% endif %}
      <hr />
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
          <p class="lead" style="text-align:center;">Votes:</p>

          <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center;">
              <h2 class="panel-title">Congress</h2>
            </div>

            <div class="panel-body">
              {% if 'congress' in votes %}
              <div class="progress">
                <div class="progress-bar progress-bar-success {% if votes.congress.total_yes > votes.congress.total_no %}progress-bar-striped active{% endif %}" style="width: {% widthratio votes.congress.total_yes votes.congress.total 100 %}%;">Yay</div>
                <div class="progress-bar progress-bar-danger {% if votes.congress.total_no > votes.congress.total_yes %}progress-bar-striped active{% endif %}" style="width: {% widthratio votes.congress.total_no votes.congress.total 100 %}%;">Nay</div>
                <div class="progress-bar" style="width: {% widthratio votes.congress.total_not_voting votes.congress.total 100 %}%;">No Vote</div>
              </div>
              {% else %}
              <div class="text-center">No Congressional vote yet</div>
              {% endif %}
            </div>
          </div>
          {% if 'users' in votes %}
          <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center;">
              <h2 class="panel-title">Politifind Users</h2>
            </div>
            <div class="panel-body">
              {% if votes.users.total > 0 %}
              <div class="progress">
                <div class="progress-bar progress-bar-success {% if votes.users.total_yes > votes.users.total_no %}progress-bar-striped active{% endif %}" style="width: {% widthratio votes.users.total_yes votes.users.total 100 %}%;">Yay</div>
                <div class="progress-bar progress-bar-danger {% if votes.users.total_no > votes.users.total_yes %}progress-bar-striped active{% endif %}" style="width: {% widthratio votes.users.total_no votes.users.total 100 %}%;">Nay</div>
              </div>
              {% else %}
              <div class="text-center">No User votes yet</div>
              {% endif %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
          <p class="lead" style="text-align:center;">Timeline:</p>
        </div>
      </div>
      <div class="row">
        <ul class="timeline">
          {% for action in bill_actions %}
            <li class="{% if forloop.counter|divisibleby:2 %}timeline-inverted{% endif %}">
              <div class="timeline-badge {% if not forloop.counter|divisibleby:2 %}info{% endif %}"><i class="timeline-glyph glyphicon glyphicon-time"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">{{ action.action }}</h4>
                </div>
                <div class="timeline-body">
                  <p>{{ action.action_date }}</p>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
      <hr />
      <div class="row">
        <p class="lead" style="text-align:center;">Similar Bills:</p>
      </div>
      <div class="row">
        {% for sbill in similar_bills %}
          <div class="col-sm-4">
            <div class="panel panel-default">
              <a href="{% url 'bill' sbill.bid %}">
                <div class="panel-heading text-center">
                  <span class="glyphicon glyphicon-{% if sbill.passed %}ok{% else %}remove{% endif %}-sign"></span>&nbsp;
                  {{ sbill }}
                </div>
              </a>
              <a href="{% url 'politician' sbill.sponsor.pid %}">
                <div class="panel-body text-center">
                  Sponsored by {{ sbill.sponsor }}
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div id="yayModal" class="modal fade" tabindex="-1">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center" style="margin-bottom: 10px;">Vote Yay</h4>
            <form action="{% url 'vote' bill.bid 'yay' %}" method="post">{% csrf_token %}
              <div class="form-group">
                <label for="comment">Optional Comment</label>
                <textarea id="comment" class="form-control" rows="3" name="comment"></textarea>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Vote</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="nayModal" class="modal fade" tabindex="-1">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center" style="margin-bottom: 10px;">Vote Nay</h4>
            <form action="{% url 'vote' bill.bid 'nay' %}" method="post">{% csrf_token %}
              <div class="form-group">
                <label for="comment">Optional Comment</label>
                <textarea id="comment" class="form-control" rows="3" name="comment"></textarea>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Vote</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
