{% extends "base_template.html" %}

{% block page_title %} {{ bill.code }}: {{ bill.name }} {% endblock %}
{% block custom_css %}
{% load static %}
<link rel='stylesheet' type="text/css" href="{% static 'css/bill-styles.css' %}"></link>
{% endblock %}

{% block page_content %}
  <div class="top-section">
    <div class="container">
      <div class="row">
        <div style="text-align:center;">
          <div class="row">
            <h1>
              <span class="glyphicon glyphicon-{% if bill.passed %}ok{% else %}remove{% endif %}-sign" aria-hidden="true"></span>
              {{ bill.code }}
            </h1>
            <h1>{{ bill.name }}</h1>
          </div>
          <div class="row">
            <p class="lead">{{ bill.subject }}</p>
          </div>
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <p class="lead">
                Committee(s): {% for committee in bill_committees %} {{ committee.cid }}{% if not forloop.last %}, {% endif %}{% endfor %}
              </p>
            </div>
          </div>
          <div class="row">
            <p class="lead">Vote:</p>
          </div>
          <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
              <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group">
                  <button type="button" class="btn btn-default yea-btn">Yea</button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-default nay-btn">Nay</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top:20px;">
            {% include "components/subscribe-button.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            Sponsor:
            {% include "components/politician-summary-card.html" with person=bill.sponsor %}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
          <p class="lead" style="text-align:center;">Summary:</p>
          <div class="well well-sm pre-scrollable">
            {{ bill.summary }}
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
          <p class="lead" style="text-align:center;">Votes:</p>
          {% if 'congress' in votes %}
          <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center;">
              <h2 class="panel-title">Congress</h2>
            </div>
            <div class="panel-body">
              <div class="progress">
                <div class="progress-bar progress-bar-success {% if votes.congress.total_yes > votes.congress.total_no %}progress-bar-striped active{% endif %}" style="width: {% widthratio votes.congress.total_yes votes.congress.total 100 %}%;">Yea</div>
                <div class="progress-bar progress-bar-danger {% if votes.congress.total_no > votes.congress.total_yes %}progress-bar-striped active{% endif %}" style="width: {% widthratio votes.congress.total_no votes.congress.total 100 %}%;">Nay</div>
                <div class="progress-bar" style="width: {% widthratio votes.congress.total_not_voting votes.congress.total 100 %}%;">No Vote</div>
              </div>
            </div>
          </div>
          {% endif %}
          {% if 'users' in votes %}
          <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center;">
              <h2 class="panel-title">Politifind Users</h2>
            </div>
            <div class="panel-body">
              <div class="progress">
                <div class="progress-bar progress-bar-success {% if votes.users.total_yes > votes.users.total_no %}progress-bar-striped active{% endif %}" style="width: {% widthratio votes.users.total_yes votes.users.total 100 %}%;">Yea</div>
                <div class="progress-bar progress-bar-danger {% if votes.users.total_no > votes.users.total_yes %}progress-bar-striped active{% endif %}" style="width: {% widthratio votes.users.total_no votes.users.total 100 %}%;">Nay</div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
          <p class="lead" style="text-align:center;">Timeline:</p>
        </div>
      </div>
      <div class="row">
        <ul class="timeline">
          {% for action in bill_actions %}
            <li class="{% if forloop.counter|divisibleby:2 %}timeline-inverted{% endif %}">
              <div class="timeline-badge {% if not forloop.counter|divisibleby:2 %}info{% endif %}"><i class="timeline-glyph glyphicon glyphicon-time"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">{{ action.action }}</h4>
                </div>
                <div class="timeline-body">
                  <p>{{ action.action_date }}</p>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
      <hr />
      <div class="row">
        <p class="lead" style="text-align:center;">Similar Bills:</p>
      </div>
      <div class="row">
        {% for sbill in similar_bills %}
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-heading" style="text-align:center;">
                <span class="glyphicon glyphicon-{% if sbill.passed %}ok{% else %}remove{% endif %}-sign"></span>&nbsp;
                {{ sbill }}
             </div>
              <div class="panel-body" style="text-align:center;">
                {{ sbill.sponsor_pid }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

{% endblock %}
