{% extends "committees_base.html" %}

{% block section_content %}
<div class="row">
  <div class="card-section-header">
    <div>
      <span>Leadership</span>
    </div>
    <hr>
  </div>
  <div class="col-md-4">
    <div>
      Ranking Member
    </div>
    {% include "components/politician-summary-card.html" with person=committee.ranking_member_pid %}
  </div>
  <div class="col-md-4">
    <div>
      Chair
    </div>
    {% include "components/politician-summary-card.html" with person=committee.chair_pid %}
  </div>
</div>
<div class="row">
  <div class="card-section-header">
    <div>
      <span>Members</span>
    </div>
    <hr>
  </div>
  {% for member in members %}
  <div class="col-md-4">
    {% include "components/politician-summary-card.html" with person=member %}
  </div>
  {% endfor %}
</div>
{% endblock %}
