{% extends 'politician_base.html' %}

{% block politician_content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3 main-column">
    <div class="panel panel-default social">
      <div class="panel-body">
        <div class="row">
            <div class="item col-md-4 text-center">
                <a href="https://facebook.com/{{ politician.facebook }}">
                    <img class="icon" src="https://image.flaticon.com/icons/png/128/174/174848.png"/>
                    <span class="handle">{{ politician.facebook }}</span>
                </a>
            </div>
            <div class="item col-md-4 text-center">
                <a href="https://twitter.com/{{ politician.twitter }}">
                    <img class="icon" src="https://image.flaticon.com/icons/png/128/174/174876.png"/>
                    <span class="handle">{{ politician.twitter }}</span>
                </a>
            </div>
            <div class="item col-md-4 text-center">
                <a href="https://youtube.com/user/{{ politician.youtube }}">
                    <img class="icon" src="https://image.flaticon.com/icons/png/128/174/174883.png"/>
                    <span class="handle">{{ politician.youtube }}</span>
                </a>
            </div>
          </div>
        </div>
        <hr>
    </div>

    <div class="panel panel-default politician-committee-list">
      <div class="panel-body">
        <div class="card-header">
          {{ politician.name }} is a member of {{ committee_membership|length }} committees.
        </div>
        <hr>
        {% for committee in committee_membership %}
          <a class="selectable-item" href="{% url "committee" committee.cid %}">
            <div class="selectable-item">
              <span>{{ committee.name }}</span>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="card-header">
          {{ politician.name }} sponsored {{ bill_sponsorship|length }} bills this year.
        </div>
        <hr>
        <div class="politician-bill-list">
        {% for bill in bill_sponsorship %}
          <a class="selectable-item" href="{% url 'bill' bill.bid %}">
            <div class="selectable-item">
              <span><strong>{{ bill.code }}</strong>: {{ bill.name }}</span>
            </div>
          </a>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
