{% extends "base_template.html" %}

{% block page_title %} Politicians {% endblock %}
{% block custom_css %}
{% load static %}
<link rel='stylesheet' type="text/css" href="{% static 'css/politicians-styles.css' %}"></link>
{% endblock %}

{% block page_content %}

<div class="top-section">
  <div class="container">
    <div class="row" style="text-align:center;">
      <h1>Politicians</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-6 col-md-offset-3 main-column">
    {% for politician in politicians %}
      {% include "components/politician-summary-card.html" with person=politician %}
    {% endfor %}
  </div>
</div>

{% endblock %}
