{% extends "base_template.html" %}

{% block page_title %} {{ politician.title }} {{ politician.name }} ({{ politician.party }}) {% endblock %}
{% block custom_css %}
{% load static %}
<link rel='stylesheet' type="text/css" href="{% static 'css/politician-styles.css' %}"></link>
{% endblock %}

{% block page_content %}
<div class="top-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
          <div class="row politician-profile">
            <div class="col-xs-4">
              <div class="image-frame">
                <img src="{{ politician.picture }}"/>
              </div>
            </div>
            <div class="col-xs-8 text-center center-block">
              <div class="politician name">{{ politician.name }} ({{ politician.party }})
                {% include "components/subscribe-button.html" with subscribed=is_subscribed id=politician.pid type="politician" %}
              </div>
              <div class="position">{{ politician.title }} from {{ politician.state }}</div>
              {% include "components/tab-bar.html" with tabs=page.tabs %}
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% block politician_content %}
{% endblock %}
{% endblock %}
