{% extends "base_template.html" %}

{% block page_title %} Politifind Search {% endblock %}
{% block custom_css %}
{% load static %}
<link rel='stylesheet' type="text/css" href="{% static 'css/search-styles.css' %}"></link>
{% endblock %}

{% block page_content %}

<div class="top-section">
  <div class="container">
    <div class="row" style="text-align:center;">
      {% if not results %}
      <h1>No results found for "{{ query }}"</h1>
    </div>
  </div>
</div>
      {% else %}
      <h1>Results for "{{ query }}"</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 main-column">
      {% for result in results %}
        {% if result.type == 'politician' %}
          {% include "components/politician-summary-card.html" with person=result.politician %}
        {% elif result.type == 'committee' %}
          <div class="panel panel-default">
            <div class="panel-body">
              <div>
                <a href="/committee/{{ result.committee.cid }}">{{result.committee.name}}</span>
              </div>
            </div>
          </div>
        {% elif result.type == 'bill' %}
          <div class="panel panel-default">
            <div class="panel-body">
              <div>
                <a href="/bill/{{ result.bill.bid }}">{{result.bill.code}}: {{result.bill.name}}</span>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
      {% endif %}

{% endblock %}
