{% extends "base_template.html" %}

{% block page_title %} Politifind Search {% endblock %}
{% block custom_css %}
{% load static %}
<link rel='stylesheet' type="text/css" href="{% static 'css/search-styles.css' %}"></link>
{% endblock %}

{% block page_content %}

<div class="top-section">
  <div class="container">
    <div class="row" style="text-align:center;">
      {% if not results %}
      <h1> No results found for {{ query }}</h1>
      {% else %}
        {% for result in results %}
        <p>{{ result }}</p>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
